.item-container {
  margin: 0 auto;
  padding: 20px 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.title {
  font-size: 34px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #323232;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.chart-option {
  padding: 10px 14px;
  background: #323232;
  color: #eeeeee;
  
  cursor: pointer;
  border: 2px solid #323232;
  border-radius: 10px;
  margin-left: 10px;
  
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1.2px;
  &:hover {
    background: #eeeeee;
    color: #323232;
  }
}
.total-block {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.chart-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.info-block {
  margin-right: 50px;
}
.info-title {
  font-size: 16px;
  line-height: 18px;
  color: #c0c0b8;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 12px 0;
}
.info-amount {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #323232;
  letter-spacing: 1.5px;
}